# Solana
test-ledger/

# Build directories
out/
build/
target/

# Editors

## VS Code
.vscode/
.history/

## JetBrains
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# OS

## Linux
*~
.Trash-*

## MacOS
.DS_Store
._*
